<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <h1><%= link_to 'Dog Profile Demo', root_path %></h1>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div class="actions">
            <% if current_user %>
              <%= link_to 'Add your dog', new_dog_path, class: "button is-primary" %>
              <%= link_to 'Sign out', destroy_user_session_path, class: "button is-light", method: :delete %>
            <% else %>
              <%= link_to 'Sign in', new_user_session_path, class: "button is-primary" %>
              <%= link_to 'Sign up', new_user_registration_path, class: "button is-light" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!--
<header>
  <h1><%= link_to 'Dog Profile Demo', root_path %></h1>
  <div class="actions">
    <% if current_user %>
      <%= link_to 'Add your dog', new_dog_path %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
  </div>
</header>
-->